.section.timeline {
  --line-width: 3px;
  --marker-width: 1em;
  --padding: 1em;

  .subsection {
    position: relative;
    border-left: var(--line-width) solid $primary;
    padding: 0 var(--padding) var(--padding) var(--padding);
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      margin-left: 33vw;
    }

    &::before {
      content: "";
      background-color: $primary;
      width: var(--marker-width);
      height: var(--marker-width);
      position: absolute;
      top: calc(-1 * var(--marker-width) / 2);
      left: calc(-1 * var(--marker-width) / 2 - var(--line-width) / 2);
      transform: rotate(45deg);
      display: block;
    }

    .timeline-meta {
      order: -1;

      @media screen and (min-width: 768px) {
        position: absolute;
        text-align: right;
        left: 0; // Adjust this value as needed
        padding-right: var(--padding);
        transform: translateX(-100%);
        max-width: calc(33vw - var(--padding));
        display: flex;
        flex-direction: column-reverse;
      }

      ul {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @media screen and (min-width: 768px) {
          justify-content: flex-end;
        }

        li {
          margin-left: 1em; // add some space between the li elements
          flex-basis: auto;
        }
      }
    }
  }
}
