// @import "../modules/node_modules/bootstrap/scss/bootstrap";

.section.timeline {
  --line-width: 10px;
  --marker-width: 0.7em;
  --padding: 0 1em 1em 1em;

  .subsection {
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: var(--line-width) solid $primary;
    padding: var(--padding);

    &::before {
      content: "";
      background-color: $primary;
      width: var(--marker-width);
      height: var(--marker-width);
      position: absolute;
      top: calc(-1 * var(--marker-width) / 2);
      left: calc(-1 * var(--marker-width) / 2 - var(--line-width) / 2);
      transform: rotate(45deg);
      display: block;
    }

    ul:has(> .place),
    ul:has(> .time) {
      order: -1;
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex; 

      li {
        margin-right: 10px; // add some space between the li elements
      }
    }

    h3 {
      order: 0;
    }
  }
}
