// @import "../modules/node_modules/bootstrap/scss/bootstrap";

.section.timeline {
  --line-width: 10px;
  --marker-width: 0.7em;
  --padding: 0 1em 1em 1em;

  .subsection {
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: var(--line-width) solid $primary;
    padding: var(--padding);

    &::before {
      content: "";
      background-color: $primary;
      width: var(--marker-width);
      height: var(--marker-width);
      position: absolute;
      top: calc(-1 * var(--marker-width) / 2);
      left: calc(-1 * var(--marker-width) / 2 - var(--line-width) / 2);
      transform: rotate(45deg);
      display: block;
    }

    .time, .place {
      order: 1;
    }

    h3 {
      order: 2;
    }
  }
}

